<h1>
  {{title}}

</h1>

  <input type="text"  [(ngModel)]=nombre /> <!--doble binding, puede modificarse -->
  
  <p> {{nombre}} </p> <!--No puede modificarse -->

  <input type=Button (click)="mostrarNombre()" value="nombre" /> 
   
  <br>
  
  <input type="radio" [(ngModel)]=Mostrar [value]=true name="redio"> Mostrar
  <br>
  <input type="radio" [(ngModel)]=Mostrar [value]=false name="redio"> Ocultar
<br>
   <a [href] ="nombre" *ngIf="Mostrar"> {{nombre}}   </a>

<br>

  <input type=Button [(ngModel)]=Dato (click)="Dato=Dato+1" />

<br>
  <img src="path" [ngStyle]="{'top.px': Dato}" style="position:absolute; width:80px" /> <!--[NgStyle]="{'top.px' : Dato}" /> -->

  <br>